table {
    margin-bottom: 100px;
}

.background {
    width: 400px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}

.huge-red-point {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(150px, 50px);
}